<?xml version="1.0"?>
<Configuration xmlns="http://www.sdltridion.com/2009/GUI/Configuration/Merge"
               xmlns:cfg="http://www.sdltridion.com/2009/GUI/Configuration"
xmlns:ext="http://www.sdltridion.com/2009/GUI/extensions"
               xmlns:cmenu="http://www.sdltridion.com/2009/GUI/extensions/ContextMenu">

  <resources cache="true">
    <cfg:filters />
    <cfg:groups/>
  </resources>
  <definitionfiles />
  <extensions>
    <ext:dataextenders>
      <ext:dataextender type="PublishedEnvironmentDataExtender.PublishedEnvironment, PublishedEnvironmentDataExtender" name="Published Context" critical="true">
        <ext:description>Published Contenxt</ext:description>
      </ext:dataextender>
    </ext:dataextenders>
    <ext:editorextensions>
      <ext:editorextension target="CME">
        <ext:editurls/>
        <ext:listdefinitions/>
        <ext:taskbars/>
        <ext:commands/>
        <ext:commandextensions/>
        <ext:contextmenus/>
        <ext:lists>
          <ext:add>
            <ext:extension name="PublishedToColumnExtender" assignid="PublishedToColumnExtenderID">
              <ext:listDefinition>
                <ext:selectornamespaces/>
                <ext:columns>
                  <column xmlns="http://www.sdltridion.com/2009/GUI/extensions/List"
                          id="PublishedTo" type="data" title="Published To"
                          selector="@PublishedTo" translate="String"  enablesorting="true" enablefiltering="true" />
                </ext:columns>
              </ext:listDefinition>
              <ext:apply>
                <ext:view name="DashboardView" />
              </ext:apply>
            </ext:extension>
          </ext:add>
          <!-- http://tridion.stackexchange.com/questions/1827/ordering-and-removing-columns-from-list-views -->
          <ext:remove>
          </ext:remove>
        </ext:lists>
        <ext:tabpages/>
        <ext:toolbars/>
        <ext:ribbontoolbars/>
      </ext:editorextension>
    </ext:editorextensions>
  </extensions>
  <commands/>
  <contextmenus />
  <localization />
  <settings>
    <defaultpage/>
    <!-- /Views/Default.aspx</defaultpage> -->
    <navigatorurl/>
    <!-- /Views/Default.aspx</navigatorurl> -->
    <editurls/>
    <listdefinitions />
    <itemicons/>
    <theme>
      <path>theme/</path>
    </theme>
    <customconfiguration />
  </settings>
</Configuration>